<h2>Bienvenue sur Galerie photo</h2>

<div>
	Pour accéder à votre propre galerie photo et commencer l'aventure,<br/>
	connectez vous à votre compte: <p>

	Pseudo : {{user}}<br/>
	Mot de passe : {{mdp}}<br/>

	A bientôt !

</div>

