<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
          Galerie Photo
        {% endblock %}
    </title>

    {% block stylesheets %}

        <scrip>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
        </scrip>
    {% endblock %}
</head>

<body>
    {% block menu %}

    {% endblock %}

    <div class="ui grid">
    
        <div class="two wide column">
        {% block left %}
            
        {% endblock %}
        </div>

        {% block wrapper %}
            <div class="thirteen wide column">
                <div class="article">
                    {% block content %}
                        {% block body %}{% endblock %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

       {#  {% block right %}{% endblock %} #}
    </div>

    {% block footer %}{% endblock %}
</body>

{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
{% endblock %}
</html>
